<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
	<head>
		<link rel="stylesheet" th:src="@{css/overall.css}">
	</head>
	
	<body>
	<div layout:fragment="content">
		<h1>Maggie's Mostly Successful Medical</h1>
		<br>
		<br>
		<p>Here at <b>Maggie's Mostly Successful Medical</b> we bring the second best medical procedures from our small village of ten people to the masses. Are our procedures cheap? Yes! Are they scientifically proven to work? Probably! Is there a small chance that you may turn into a frog? Definitely!  </p>
		<p>We enjoy</p>
	</div>
		
	</body>
</html>